<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
	  <groups>
		  <run>
			  <include name="Group"></include>
		  </run>
	  </groups>
    <classes>
		 <class name="DependOnDemo.Base">
		  <methods>
			  <include name="driverlogic"></include>
			   <include name="fetchvalues"></include>
		  </methods>
      </class>
      <class name="DependOnDemo.step1">
		  <methods>
			  <include name="loginpass"></include>
		  </methods>
	  </class>
      <class name="DependOnDemo.step2">
		  <methods>
			  <include name="searchProd"></include>
		  </methods>
      </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
